{%  extends "layout.html.twig" %}
{% block contenu %}
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Numero</td>
            </tr>
        </thead>
        <tbody>
        {% for client in desClients %}
            <tr>
                <th>{{ client.id }}</th>
                <th>{{ client.nomCli }}</th>
                <th>{{ client.prenomCli }}</th>
                <th>{{ client.telCli }}</th>
            </tr>
        {% endfor %}
        </tbody>
        
    {% endblock %}